dill==0.3.8
easyocr==1.7.2
fastai==2.7.18
groq==0.18.0
numpy==2.2.3
opencv-python-headless==4.11.0.86
pandas==2.2.3
pillow==11.1.0
python-dotenv==1.0.1
streamlit==1.42.2
torch==2.5.1
torchvision==0.20.1
